<h1>Daftar Buku</h1>

<%= link_to ">> Tambah buku baru", new_book_path %>
<br/><br/>
<table border="1">
  <tr>
    <td>id</td>
    <td>Judul</td>
    <td>Halaman</td>
    <td>Opsi</td>
  </tr>
  <% @books.each do |book| %>
    <tr>
      <td><%= book.id %></td>
      <td><%= book.title %></td>
      <td><%= book.page %></td>
      <td>
        <%= link_to 'Detail', book_path(book) %>
        |
        <%= link_to 'Edit', edit_book_path(book) %>
        |
        <%= link_to 'Delete', book_path(book), method: :delete, data: {confirm: "Buku '#{book.title}' akan dihapus?"} %>
      </td>
    </tr>
  <% end %>
</table>
